<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>

<body>

    {{!-- {{#if listBlogPost}} {{#each listBlogPost}} {{this.title}} {{this.category}} {{this.content}} {{this.author}} {{this.createdAt}}
    {{/each}} {{/if}} --}}

    <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-5 font-italic">You are at right place, we don't sell information !!</h1>
            <p class="lead my-3">Media is not about selling information to our customers but rather showing mirror of actual facts and figure.
                Welcome to post media.</p>
            <p class="lead mb-0">
                <a href="#" class="text-white font-weight-bold">Continue reading...</a>
            </p>
        </div>
    </div>
    {{#if listBlogPost}}
    <div class="row mb-2">
        {{#each listBlogPost}}
        <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body bg-light  d-flex flex-column align-items-start">
             <strong class="d-inline-block mb-2 text-success"><a href="/categories/show/{{this.category}}">{{this.category}} </a></strong>
                    <h3 class="mb-0">
                        <a class="text-dark" href="/posts/show/{{this._id}}">{{this.title}}</a>
                    </h3>
                    <div class="mb-1 text-muted">by-{{this.author}} , {{this.createdAt}}</div>
                    <pre class="card-text mb-auto">{{{this.content}}}</pre>
                    <a href="/posts/show/{{this._id}}">Continue reading</a>
                </div>
                <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [200x250]"
                    style="width: 200px; height: 250px;" src="/images/{{this.mainimage}}"
                    data-holder-rendered="true">
            </div>
        </div>
        {{/each}}
    </div>
    {{/if}}


    <style>
        pre {
            width: 250px;
            overflow: hidden;
        }
    </style>

</body>

</html>